@media only screen and (max-width: 1330px) {
    .use-crypto {
        background-image: url("img/use-crypto-decor-mobile.svg");
        background-position-x: right;
        background-position-y: 159px;
    }

    .use-crypto__body {
        flex-direction: column;
    }

    .use-crypto__create-loan {
        margin-top: 2px;
    }

    .buy-loan {
        background-size: 70%;
        background-position-y: -200px;
    }

    .sell-loan {
        background-image: url("img/sell-loan-decor-mobile.svg");
        background-position-x: right;
        background-position-y: 120px;
    }

    .sell-loan .section-wrapper {
        flex-direction: column-reverse;
        align-items: baseline;
    }
}

@media only screen and (max-width: 980px) {
    .section-wrapper, .buy-loan .section-wrapper, .sell-loan .section-wrapper {
        padding: 120px 60px 0;
    }

    /*todo delete this*/
    .use-crypto__create-loan--mob {
        display: block;
    }

    /*todo delete this*/
    .use-crypto__create-loan--desc {
        display: none;
    }

    .buy-loan {
        background-size: 70%;
        background-position-y: 0px;
    }

    /*todo delete this*/
    .sell-loan__form--mob {
        display: initial;
    }

    .sell-loan__form {
        width: 100%;
    }

    /*todo delete this*/
    .sell-loan__form--desc {
        display: none;
    }

    .footer .section-wrapper {
        flex-direction: column;
        padding: 0 64px;
    }
}

@media only screen and (max-width: 830px) {
    .main-banner .section-wrapper {
        flex-direction: column;
        align-items: baseline;
    }

    .create-loan .section-wrapper {
        flex-direction: column;
    }
}

@media only screen and (max-width: 768px) {
    .section-title {
        font-size: 22px;
        line-height: 29px;
    }

    .section-description {
        font-size: 14px;
        font-weight: 400;
        line-height: 19px;
    }

    .styled-list {
        margin-top: 26px;
        gap: 18px;
    }

    .styled-list > div {
        align-items: center;
        font-size: 15px;
        line-height: 14px;
    }

    .styled-list > div::before {
        height: 16px;
        width: 16px;
        margin-right: 18px;
    }

    .main-banner__title {
        font-size: 50px;
    }

    .use-crypto__icons img {
        width: 60px;
    }

    .use-crypto__body {
        margin-top: 44px;
    }

    .use-crypto__how-submit__list li {
        font-size: 14px;
    }

    .create-loan__title {
        font-size: 22px;
        line-height: 29px;
        text-align: center;
    }

    .buy-loan {
        background-image: url("img/buy-loan-decor-mobile.svg");
        background-size: initial;
        background-position-y: -40px;
        background-position-x: 0px;
    }

    .buy-loan__btn {
        margin-top: 34px;
    }

    .share-link__block {
        gap: 26px;
    }

    .share-link__triangle {
        left: -8px;
        top: 22px;
        transform: scale(1, 0.6) rotate(45deg);
    }

    .share-link__block__img {
        width: 56px;
    }

    .share-link__block__table .header {
        height: 24px;
        font-size: 7px;
        font-weight: 700;
        line-height: 9px;
    }

    .share-link__block__table .body {
        height: 42px;
        font-size: 7px;
        font-weight: 400;
        line-height: 9px;
    }

    .share-link__block__table td {
        padding-right: 33px;
    }

    .share-link__block__table .details {
        padding-right: 12px;
        font-size: 7px;
        font-weight: 400;
        line-height: 9px;

    }

    .copy-link img, .share-twitter img {
        width: 9px;
    }

    .footer__content {
        flex-direction: column;
    }

    .social-links__block {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .social-links__block .logo-white {
        height: 17px;
    }

    .social-links {
        margin-top: 0;
        gap: 10px;
    }

    .social-links img {
        width: 22px;
    }
}

@media only screen and (max-width: 660px) {
    .middle-blue-btn {
        height: 44px;
        padding: 2px 21px 0;
        font-size: 14px;
        font-weight: 700;
        line-height: 12px;
        text-align: center;
    }

    .section-wrapper, .buy-loan .section-wrapper, .sell-loan .section-wrapper {
        padding: 52px 20px 0;
    }

    .main-banner {
        height: 640px;
    }

    .main-banner__logo {
        width: 86px;
    }

    .main-banner__title {
        margin-top: 122px;
        font-size: 32px;
        font-weight: 700;
        line-height: 39px;
    }

    .main-banner__description {
        margin-top: 12px;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;
    }

    .main-banner__description .bold {
        font-size: 16px;
        font-weight: 700;
        line-height: 22px;
    }

    .main-banner__btn {
        margin-top: 34px;
        height: 44px;
        font-family: Porter;
        font-size: 14px;
        line-height: 12px;
    }

    .create-loan {
        margin-top: 52px;
    }

    .create-loan .section-wrapper {
        padding: 52px 34px;
    }

    .buy-loan__table {
        margin-top: 32px;
    }

    .buy-loan {
        background-position-y: -105px;
        background-position-x: 0px;
    }

    .footer {
        margin-top: 52px;
    }

    .footer .section-wrapper {
        flex-direction: column;
        padding: 0 20px;
    }

    .footer__content {
        margin: 29px 0 26px;
        gap: 26px;
    }

    .footer__content__description {
        font-size: 10px;
        font-weight: 400;
        line-height: 16px;

    }

    .copyright {
        font-size: 10px;
        font-weight: 400;
        line-height: 22px;
    }
}

@media only screen and (max-width: 600px) {

    .use-crypto__title-wrap {
        flex-direction: column;
        align-items: baseline;
    }

    .use-crypto__icons {
        flex-direction: column;
        gap: 22px;
    }

    .use-crypto__icons__block {
        display: flex;
        align-items: center;
        gap: 14px;
    }

    .use-crypto__icons img {
        width: 56px;
    }

    .use-crypto__icons__text {
        margin-top: 0;
        font-size: 14px;
        line-height: 34px;
    }

    .use-crypto__how-submit {
        min-width: initial;
    }
}